.calendar {
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  
  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-months-case,
    &-years-case {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-button {
      cursor: pointer;
      position: relative;

      width: 100%;
      height: 80px;

      font-size: 2.5rem;
      font-weight: bold;

      &-right::before,
      &-left::before {
        content: '';
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);

        width: 50px;
        height: 50px;
        opacity: 0.15;
        transition: 0.3s;
        
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.002 512.002'%3E%3Cpath fill='black' d='M388.425 241.951L151.609 5.79c-7.759-7.733-20.321-7.72-28.067.04-7.74 7.759-7.72 20.328.04 28.067l222.72 222.105-222.728 222.104c-7.759 7.74-7.779 20.301-.04 28.061 3.883 3.89 8.97 5.835 14.057 5.835 5.074 0 10.141-1.932 14.017-5.795l236.817-236.155c3.737-3.718 5.834-8.778 5.834-14.05s-2.103-10.326-5.834-14.051z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
      &-left::before { transform: rotate(180deg); }

      &:hover {
        background-color: $light-grey;

        &::before {
          opacity: 1;
          transition: 0.3s;
        }
      }

      span { display: none; }
    }
  
    &-select {
      appearance: none;

      height: 80px;
      padding: 10px;
  
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 3rem;
      text-align-last: center;
      text-transform: capitalize;

      background-color: #fff;
      transition: 0.3s;
      
      cursor: pointer;

      &:hover {
        background-color: $light-grey;
        transition: 0.3s;
      }
    }
  }

  &__day {
    cursor: pointer;

    font-size: 2rem;
    text-align: left;
    vertical-align: top;  

    border: 1px solid rgb(197, 197, 197);
    background-color: #fff;
    transition: 0.3s;

    &:hover {
      background-color: $light-grey;
      transition: 0.3s;
    }

    &--unmonth {
      color: $middle-grey;
      transition: 0.3s;

      &:hover {
        color: black;
        transition: 0.3s;
      }
    }

    &--today { outline: 3px solid $today-color;}
    &--events { 
      background-color: $events-color;
      
      &:hover { background-color: $events-color-hover; }
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    th {
      padding-bottom: 10px;

      font-size: 2rem;

      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;

      &:nth-child(6) { border-left: 2px solid $middle-grey; }
    }

    td {
      padding: 10px;
      padding-top: 0;

      &:nth-child(6) { border-left: 2px solid $grey; }
    }
  }

  &__footer {
    &-title {
      &--has-events { color: green}
      &--no-events  { color: grey}
    }
  }
}