$light-grey: rgb(237, 237, 237);
$middle-grey: rgb(208, 208, 208);
$grey: rgb(181, 181, 181);
$today-color: rgb(78, 167, 194);
$events-item-color: rgb(223, 255, 253);
$events-color: rgb(168, 240, 236);
$events-color-hover: rgb(121, 225, 219);